body {
    margin: 0px;
}
header {
    padding: 32px;
}
.logo {
    text-align: center;
}
.icon {
    font-size: 32px;
    color: #32CD32;
    margin-right: 8px;
}
h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 32px;
    display: inline;
}
.hero {
    background-image: url("assets/pexels-robin-stickel-70497.jpeg");
    background-size: cover;
    background-position: center center;
    padding: 64px 32px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    color: white;
}
.container {
    padding: 64px;
    max-width: 1200px;
    margin: auto;
}
.grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    column-gap: 32px;
    row-gap: 32px;
}
a {
    text-decoration: none;
}
.image-container {
    background-size: cover;
    background-position: center center;
    min-height: 256px;
    border-radius: 4px;
    overflow: hidden;
    transition: all 0.5s ease;
}
.image-container:hover {
    filter: brightness(50%);
}
.like {
    color: red;
    float: right;
    font-size: 24px;
    margin: 12px;
}
h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: black!important;
    margin: 16px 0px 0px 0px;
}
h3:hover {
    text-decoration: underline;
}
h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: grey!important;
    margin: 0px 0px 8px 0px;
}
.rating {
    color: #32CD32!important;
}
footer {
    background-color: lightgrey;
    padding: 12px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    clear: left;
}
.back {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #32CD32;
}
.photo {
    margin: 32px 0px;
    max-width: 100%;
}
.detail {
    background-color: lightgrey;
    padding: 32px;
    margin-bottom: 32px;
}
h5 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 24px;
    margin: 32px 0px 0px 0px;
}
hr {
    color: #32CD32;
    display:inline-block;
    border-style: solid;
    border-width: 2px;
    width: 64px;
    margin-bottom: 16px;
}
p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: grey!important;
    margin: 0px 0px 8px 0px;
    font-size: 14px;
}
ul {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: grey!important;
    margin: 0px 0px 8px 0px;
    font-size: 14px;
}
ol {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: grey!important;
    margin: 0px 0px 8px 0px;
    font-size: 14px;
}
ol li {
    margin-bottom: 16px;
}